body {
  /* background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  overflow-x: hidden; */
  /* font-family: "Poppins", sans-serif; */
   margin: 0;
  padding: 0;
font-family: 'gued', sans-serif ;
}

@font-face {
  font-family: 'gued';
  src: url('../assets/assetsPage/fonts/gued/Gued.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droxen';
  src: url('../assets/assetsPage/fonts/droxen-demo/DROXEN_Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
 